@{
    ViewBag.Title = "Home Page";
}
@section Scripts {
    <script src="~/Application/models.js"></script>
    <script src="~/Application/Services/HttpServiceBase.js"></script>
    <script src="~/Application/Services/NodesService.js"></script>
    <script src="~/Application/Services/WizardService.js"></script>
    <script src="~/Application/controls/wizard/wizardcontroller.js"></script>
    <script src="~/Application/indexcontroller.js"></script>
    <script src="~/Application/app.js"></script>
    <script src="~/Application/Directives/swWizard.js"></script>
    <script src="~/Application/Directives/swWizardStep.js"></script>
}

<div data-ng-view=""></div>