<h4>Define Node</h4>
<p>Specify the node you want to add by filling the fields below.</p>

<form class="form-horizontal">
  <div class="form-group">
    <label class="col-md-2 control-label">IP or hostname:</label>
    <div class="col-md-10">
      <input type="text" class="form-control" name="ipOrHostname" [(ngModel)]="node.IpOrHostname" />
      <!-- validation error for node address -->
      <span class="sw-error-message" *ngIf="!ipAddressOrHostnameIsValid">{{ipAddressOrHostnameValidationError}}</span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Polling Method:</label>
    <div class="col-md-10">
      <label class="radio-inline">
        <input type="radio" id="icmpMethodRadio" ng-model="node.PollingMethod" value="ICMP" ng-change="nodeTypeChanged()"> ICMP
      </label>
      <label class="radio-inline">
        <input type="radio" id="snmpMethodRadio" ng-model="node.PollingMethod" value="SNMP" ng-change="nodeTypeChanged()"> SNMP
      </label>
      <label class="radio-inline">
        <input type="radio" id="wmiMethodRadio" ng-model="node.PollingMethod" value="WMI" ng-change="nodeTypeChanged()"> WMI
      </label>
    </div>
  </div>

  <!-- show only for SNMP node type -->
  <div ng-show="node.isSnmp()">
    <div class="form-group">
      <label class="col-md-2 control-label">Port:</label>
      <div class="col-md-10">
        <input class="form-control" type="text" ng-model="node.SnmpCredentials.Port" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">Community string:</label>
      <div class="col-md-10">
        <input class="form-control" type="text" ng-model="node.SnmpCredentials.CommunityString" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <button class="btn btn-info" ng-click="testCredentials()">Test</button>
      </div>
    </div>
  </div>

  <!-- show only for WMI node type -->
  <div ng-show="node.isWmi()">
    <div class="form-group">
      <label class="col-md-2 control-label">Username:</label>
      <div class="col-md-10">
        <input class="form-control" type="text" ng-model="node.WmiCredentials.Username" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">Password:</label>
      <div class="col-md-10">
        <input class="form-control" type="password" ng-model="node.WmiCredentials.Password" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">Password confirm:</label>
      <div class="col-md-10">
        <input class="form-control" type="password" ng-model="node.WmiCredentials.PasswordConfirm" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <button class="btn btn-info" ng-click="testCredentials()">Test</button>
      </div>
    </div>
  </div>
  <!-- validation error for credentials -->
  <span class="sw-error-message" ng-show="!credentialsAreValid">{{credentialsValidationError}}</span>
</form>
