/* You can add global styles to this file, and also import other style files */
.sw-error-message {
  color: red;
}

.sw-wizard-error-message {
  position: absolute;
  bottom: 35px;
}

.sw-clear {
  height: 0;
  clear: both;
  margin: 0;
  border-width: 0;
}

.sw-bold {
  font-weight: bold;
}
