<h2>{{ title }}</h2>

<div class="panel panel-default sw-wizard">
  <div class="panel-heading">
    <div ng-repeat="step in stepDefinitions" class="sw-wizard-nav-item" ng-class="currentStepIndex == $index ? 'active' : ''">
      <span class="sw-label">{{step.Title}}</span> <span ng-if="!$last">/</span>
    </div>
    <hr class="sw-clear" />
  </div>
  <div class="panel-body">
    <div class="sw-wizard-step-content">
      <!--<sw-wizard-step control-name="currentStepControlName" node="node" register-step="vm.registerStep"></sw-wizard-step>-->
    </div>
    <div class="sw-wizard-error-message sw-error-message" ng-show="showError">{{ errorMessage }}</div>
  </div>
  <div class="panel-footer">
    <div class="sw-wizard-button-panel">
      <button class="btn btn-default" ng-click="back()" ng-disabled="cantGoBack">Back</button>
      <button class="btn btn-primary next" ng-click="next()" ng-show="!cantGoForward">Next</button>
      <button class="btn btn-primary add" ng-click="addNode()" ng-show="cantGoForward">Add node</button>
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
  </div>
</div>
