<h4>Define Node</h4>
<p>Specify the node you want to add by filling the fields below.</p>

<form class="form-horizontal">
  <div class="form-group" [class.has-error]="!ipAddressOrHostnameIsValid">
    <label class="col-md-2 control-label">IP or hostname:</label>
    <div class="col-md-10">
      <input type="text" class="form-control" name="ipOrHostname" [(ngModel)]="node.IpOrHostname" />
      <!-- validation error for node address -->
      <span class="sw-error-message" *ngIf="!ipAddressOrHostnameIsValid">{{ipAddressOrHostnameValidationError}}</span>
</div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Polling Method:</label>
    <div class="col-md-10">
      <label class="radio-inline">
        <input type="radio" id="icmpMethodRadio" name="methodIcmp" [(ngModel)]="node.PollingMethod" value="ICMP" (ngModelChange)="nodeTypeChanged()"> ICMP
      </label>
      <label class="radio-inline">
        <input type="radio" id="snmpMethodRadio" name="methodSnmp" [(ngModel)]="node.PollingMethod" value="SNMP" (ngModelChange)="nodeTypeChanged()"> SNMP
      </label>
      <label class="radio-inline">
        <input type="radio" id="wmiMethodRadio" name="methodWmi" [(ngModel)]="node.PollingMethod" value="WMI" (ngModelChange)="nodeTypeChanged()"> WMI
      </label>
    </div>
  </div>

  <!-- show only for SNMP node type -->
  <div *ngIf="node.isSnmp()">
    <div class="form-group">
      <label class="col-md-2 control-label">Port:</label>
      <div class="col-md-10">
        <input class="form-control" type="text" name="snmpPort" [(ngModel)]="node.SnmpCredentials.Port" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">Community string:</label>
      <div class="col-md-10">
        <input class="form-control" type="text" name="snmpCommunity" [(ngModel)]="node.SnmpCredentials.CommunityString" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <button class="btn btn-info" (click)="testCredentials()">Test</button>
      </div>
    </div>
  </div>

  <!-- show only for WMI node type -->
  <div *ngIf="node.isWmi()">
    <div class="form-group" [class.has-error]="!credentialsAreValid">
      <label class="col-md-2 control-label">Username:</label>
      <div class="col-md-10">
        <input class="form-control" type="text" name="wmiUser" [(ngModel)]="node.WmiCredentials.Username" />
      </div>
    </div>
    <div class="form-group" [class.has-error]="!credentialsAreValid">
      <label class="col-md-2 control-label">Password:</label>
      <div class="col-md-10">
        <input class="form-control" type="password" name="wmiPAssword" [(ngModel)]="node.WmiCredentials.Password" />
      </div>
    </div>
    <div class="form-group" [class.has-error]="!credentialsAreValid">
      <label class="col-md-2 control-label">Password confirm:</label>
      <div class="col-md-10">
        <input class="form-control" type="password" name="wmiPassword2" [(ngModel)]="node.WmiCredentials.PasswordConfirm" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <button class="btn btn-info" (click)="testCredentials()">Test</button>
      </div>
    </div>
  </div>
  <!-- validation error for credentials -->
  <span class="sw-error-message" *ngIf="!credentialsAreValid">{{credentialsValidationError}}</span>
</form>
